<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="stylesheets/foundation.min.css">
    <link rel="stylesheet" href="stylesheets/app.css">
</head>
<body style="background-image: url(images/loginbkg.png)">
    <form action="/Ingresar" method="POST">
            <div class="grid-container">
                <div class="grid-x">
                    <div class="large-4 medium-6  large-offset-4  medium-offset-3 cell" style="background:rgba(255, 255, 255, 0.25);color: white;padding-top: 20pt;padding: 50pt 10pt 20pt 10pt;"> 
                        <h1>Lorem ipsum2</h1>
                        <label style="padding-top: 20pt;">
                            Usuario
                            <input type="text" name="usuario" placeholder="Ingresa tu usuario" required>
                        </label>
                        <label>
                            Clave
                            <input type="password" name="clave" placeholder="Ingresa tu clave" required>
                        </label>
                        <div class="row">
                            <div class="medium-12 medium-centered text-center columns" style="padding-top: 10pt;">
                                <button class="button" type="submit" value="Submit">Ingresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script src="javascripts/vendor/jquery.js"></script>
        <script src="javascripts/vendor/what-input.js"></script>
        <script src="javascripts/vendor/foundation.min.js"></script>
        <script src="javascripts/app.js"></script>
    </form>
  </body>
</html>