
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
  }

  
  a {
    color: #2ba6cb;
  }
  
  label{
    color: #fff;
  }

.position-right{
    width: 100%;
    overflow-x: hidden;
    
}

.page-height{
  min-height: 675px;
}

h2{
  color: #2ba6cb;
}

.callout{
  margin: 0;
}
